<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Return Tablets</title>
        <!-- Core -->
        <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- Icons -->
        <link rel='stylesheet' href="../../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
        <link rel='stylesheet' href='../../assets/vendor/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css'>

        <link rel="stylesheet" href="../../assets/css/returntablets.css">
        
    </head>
    
    <svg style="position:absolute; top:0; left:0; z-index:-1" height="100%" width="100%">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="90%" y2="50%">
              <stop offset="40%" style="stop-color:#7469ff;stop-opacity:1" />
              <stop offset="100%" style="stop-color:#ff6faf;stop-opacity:1" />
          </linearGradient>
        </defs>
        <ellipse cx="50%" cy="0" rx="120%" ry="70%" fill="url(#grad1)" />
    </svg>

    <body>
        
        <fieldset>
            <div id="content-footer">
                    <a id="backBtn" class="left btn btn-secondary btn-sm" onclick='backNavigation("backAdminPage")'>
                        <i class="fas fa-arrow-left" style="font-size: 1.3em;"></i>
                    </a>
                </div>
            </fieldset>


        <div class="container-fluid">
            <div id="content-header" class="row justify-content-center align-items-center">
                <h2>Return Tablets</h2>
            </div>

            <div class="card shadow">
            <div class="card-body">

            <div id="content-body">
                <form>
                    <div class="row justify-content-center align-items-center">
                        <fieldset>
                            <img src="../../assets/img/returntablets.png">
                        </fieldset>
                        
                        <svg style="position:absolute; top:0; left:0; z-index:-1" height="100%" width="100%">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="90%" y2="50%">
              <stop offset="40%" style="stop-color:#7469ff;stop-opacity:1" />
              <stop offset="100%" style="stop-color:#ff6faf;stop-opacity:1" />
          </linearGradient>
        </defs>
        <ellipse cx="50%" cy="0" rx="120%" ry="70%" fill="url(#grad1)" />
    </svg>


                        <fieldset>
                            <div id="clockdisplay" class="container">
                                <script type="text/javascript" src="../../assets/js/date.js"></script>
                            </div>
                        </fieldset>

                        <fieldset>
                        <div>
                            <label class="text-center" for="allBookings">Select Booking Session</label>
                            <div id="selectBookings">
                                <select id="allBookings" onchange="if (this.selectedIndex) moveSelect(this, 'tabletNo')">
                                    <option value="" disabled hidden selected></option>
                                </select>
                            </div>
                        </div>
                        </fieldset>


                        <fieldset>
                            <div>
                                <label for="bookedPeriod" class="text-center">Session Date</label>
                                <p id="bookedPeriod" class="text-center"></p>
                            </div>
                        </fieldset>


                        <fieldset>
                            <label for="tabletNo">No of Tablets:</label>
                            <input id="tabletNo" name="tabletNo" type="number" placeholder="50">
                            <div id="errorTN"></div>
                        </fieldset>
                        <fieldset>
                                <div id="content-footer">
                        <a id="submitBtn" class="btn btn-secondary btn-lg">
                                <span>Submit</span>
                                </a>
                            </div>
                        </fieldset>
                    </div>


                </form>
                    </div>


                </div>
            </div>
            
        </div>

        <script src ='../../assets/vendor/jquery/dist/jquery.min.js'></script>
        <script type="text/javascript" src="../../assets/js/main.js"></script>
        <script src='../../assets/js/return.js'></script>
        
    </body>
</html>
