<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventory Statistics</title>

        <!-- Core -->
        <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- Icons -->
        <link rel='stylesheet' href="../../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
        <link rel='stylesheet' href='../../assets/vendor/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css'>
        
        <!-- Argon CSS -->
        <link rel="stylesheet" href="../../assets/css/argon.css">
        <link rel="stylesheet" href="../../assets/css/viewinventory.css">


    </head>


    <svg style="position:absolute; top:0; left:0; z-index:-1" height="100%" width="100%">
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="90%" y2="50%">
                  <stop offset="40%" style="stop-color:#7469ff;stop-opacity:1" />
                  <stop offset="100%" style="stop-color:#ff6faf;stop-opacity:1" />
              </linearGradient>
            </defs>
        <ellipse cx="50%" cy="0" rx="120%" ry="70%" fill="url(#grad1)" />
    </svg>

    
    <body>

    <fieldset>
        <div id="content-footer">
            <a id="backBtn" class="left btn btn-secondary btn-sm" onclick='backNavigation("backAdminPage")'>
                <i class="fas fa-arrow-left" style="font-size: 1.3em;"></i>
            </a>
        </div>
    </fieldset>
        
        <div class="container-fluid">
            <div id="content-header" class="row justify-content-center align-items-center">
                <h2>Inventory</h2>
            </div>


            <div id="content-body">

                    <div class="card shadow">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted ls-1 mb-1">Learnet Tablets</h6>
                                    <h2 class="mb-0">Statistic</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Chart -->
                            <div class="chart">
                                <canvas id="chart-orders" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>

            </div>
        </div>


        <!-- Optional JS -->
        <script src="../../assets/vendor/chart.js/dist/Chart.min.js"></script>
        <script type="text/javascript" src="../../assets/js/inventory.js"></script>
        <script type="text/javascript" src="../../assets/js/main.js"></script>
    </body>
</html>
