<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="connect-src *;">
    <title>One Time Password</title>
    <link rel='stylesheet' href='../../assets/vendor/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css'>
    <link rel="stylesheet" href="../../assets/css/otp.css">
</head>

<svg style="position:absolute; top:0; left:0; z-index:-1" height="100%" width="100%">
    <defs>
        <linearGradient id="grad1" x1="90%" y1="30%" x2="40%" y2="90%">
            <stop offset="40%" style="stop-color:#7469ff;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#ff6faf;stop-opacity:1" />
        </linearGradient>
    </defs>
    <ellipse cx="50%" cy="0" rx="120%" ry="70%" fill="url(#grad1)" />
</svg>


<body>


    <div class="container-fluid">
        <div id="content-header" class="row justify-content-center align-items-center">
            <h2>One Time Password</h2>
        </div>

        <div class="card shadow">
            <div class="card-body">

                <div id="content-body">
                    <form>
                        <div class="row justify-content-center align-items-center">


                            <fieldset>
                                <div id="content-header">
                                    A one time password has been sent to your device. Please check your messages to retieve the password.
                                </div>
                            </fieldset>


                            <fieldset>
                                <input id="OTP" name="OTP" type="text"
                                    onkeypress="moveCursor(event, 'OTPBtn')" placeholder="Password"
                                    style="text-align: center">
                                <div id="errorCN"></div>
                            </fieldset>

                            <fieldset>
                                <div id="content-footer">
                                    <a id="OTPBtn" class="btn btn-secondary btn-lg">
                                        <span>Submit</span>
                                    </a>
                                </div>
                            </fieldset>
                        </div>


                    </form>
            </div>


            </div>
        </div>

    </div>

    <script src='../../assets/vendor/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src="../../assets/js/main.js"></script>
</body>

</html>
